# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [3]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup

browser = webdriver.Chrome(executable_path='chromedriver') #開啟網頁瀏覽模擬器
browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

In [4]:
selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

In [33]:
# 取得資料（等瀏覽器資料出現後才執行）
html_source = browser.page_source
#html_source
soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')

In [34]:
so2 = table.find('td')
d={} # 大括號是 Dict型態
for i,elements in enumerate(table.find_all('td')):
    #print(elements)
    if(i % 38 == 0):  #一筆 物質有38個數據
        key = elements.string
        if(key=='THC'):break  #這筆數據有THC這個數據
        else: d[key] = {}
    elif (i%38 ==1): #單位 
        d[key]['unit'] = elements.string
    elif ((i% 38)%3 == 2): #日期
        date = elements.string
    elif ((i% 38)%3 == 0): #數據
        data = elements.string
        d[key][date] = data
    elif ((i% 38)%3 == 1): #空白不存
        continue
print('SO2')
d['SO2']

SO2

{'unit': 'ppb',
 '2018/01': '1.80',
 '2018/02': '1.90',
 '2018/03': '2.20',
 '2018/04': '2.30',
 '2018/05': '3.10',
 '2018/06': '2.70',
 '2018/07': '2.20',
 '2018/08': '2.40',
 '2018/09': '2.10',
 '2018/10': '1.70',
 '2018/11': '1.90',
 '2018/12': '1.80'}

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [35]:
print('CO')
d['CO']

CO

{'unit': 'ppm',
 '2018/01': '0.34',
 '2018/02': '0.44',
 '2018/03': '0.40',
 '2018/04': '0.38',
 '2018/05': '0.34',
 '2018/06': '0.29',
 '2018/07': '0.21',
 '2018/08': '0.30',
 '2018/09': '0.26',
 '2018/10': '0.29',
 '2018/11': '0.30',
 '2018/12': '0.35'}

In [36]:
import pandas as pd

pd.DataFrame(d)

          SO2    CO     O3   PM10    NOx    NO    NO2
unit      ppb   ppm    ppb  μg/m3    ppb   ppb    ppb
2018/01  1.80  0.34  33.40     23  14.17  3.41  10.77
2018/02  1.90  0.44  32.50     41  19.43  4.48  14.95
2018/03  2.20  0.40     35     39  18.50  4.93  13.56
2018/04  2.30  0.38  38.40     48  15.24  2.60  12.64
2018/05  3.10  0.34  31.60     37  15.20  2.26  12.94
2018/06  2.70  0.29  29.50     26  13.79  2.41  11.38
2018/07  2.20  0.21  18.70     24  11.60  2.68   8.92
2018/08  2.40  0.30  26.40     26  14.75  2.68  12.08
2018/09  2.10  0.26  29.10     28  12.40  2.41     10
2018/10  1.70  0.29  45.90     33  12.45  2.13  10.33
2018/11  1.90  0.30  32.40     25  13.41  2.71  10.71
2018/12  1.80  0.35  30.70     21  14.56  3.42  11.15